* {
  overflow-x: hidden;
  box-sizing: border-box;
  /* border: 1px solid grey; */
}
html,
body {
  padding: 0;
  margin: 0;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
}
:root {
  --main-color: #f9f9f9;
  --main-color-hover: #f6c6ea;
  --dark-color: #c490e4;
  --container-width: 1100px;
}

h1 {
  color: darkslategray;
  padding: 0;
  margin: 0;
  font-size: 2rem;
  text-shadow: 2px 2px 3px silver;
  text-align: center;
}
